<%= form_tag(author_search_path) do -%>
<table width="500px" align="center">

<tr>
<td height="50px" ></td>
</tr>

<tr>
<td><%= label_tag 'Nome' %></td>
<td align="right"><%= text_field_tag 'person[name]' %></td>
</tr>

<tr>
<td height="10px" ></td>
</tr>

<tr>
<td><%= label_tag 'Cidade' %></td>
<td align="right"><%= text_field_tag 'person[city]' %></td>
</tr>

<tr>
<td height="10px" ></td>
</tr>

<tr>
<td><%= label_tag 'País' %></td>
<td align="right"><%= text_field_tag 'person[country]' %></td>
</tr>

<tr>
<td height="10px" ></td>
</tr>

<tr>
<td><%= label_tag 'Nome de Livro que Participou' %></td>
<td align="right"><%= text_field_tag 'person[book]' %></td>
</tr>

<tr>
<td height="10px" ></td>
</tr>

<tr>
<td colspan="2" align="center" ><%= submit_tag 'Pesquisar' %></td>
</tr>

<tr>
<td height="80px" ></td>
</tr>


</table>
<% end -%>

