<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @person.name %>
</p>

<p>
  <b>Birth:</b>
  <%= @person.birth.strftime("%d/%m/%Y") if @person.birth %>
</p>

<p>
  <b>City:</b>
  <%= @person.city.name if @person.city_id %>
</p>

<p>
  <b>Country:</b>
  <%= @person.country_id.nil? ? "" : @person.country.name %>
</p>

<p>
  <b>Picture:</b>
  <%= image_tag @person.picture_url %>
</p>


<%= link_to 'Back', root_path %>
