<%= form_tag(book_search_path) do -%>

  <p>
    <%= label_tag 'Título' %><br />
    <%= text_field_tag 'book[name]' %>
  </p>

  <p>
    <%= label_tag 'ISBN' %><br />
    <%= text_field_tag 'book[ISBN]' %>
  </p>

  <p>
    <%= label_tag 'Preço' %><br />
    de <%= text_field_tag 'book[price_low]' %> até <%= text_field_tag 'book[price_high]' %>
  </p>

  <p>
    <%= label_tag 'Ano de Lançamento' %><br />
    <%= select_tag 'book[release_year]', @years_for_select.html_safe %>
  </p>

  <p>
    <%= label_tag 'Gênero' %><br />
    <%= select_tag 'book[genre]', options_from_collection_for_select(@genres, 'id', 'name'), :include_blank => true %>
  </p>

  <p>
    <%= label_tag 'Participantes' %><br />
    <%= text_field_tag 'book[person]' %>
  </p>

  <p>
    <%= submit_tag 'Search!' %>
  </p>
<% end -%>
