<%= form_tag(author_search_path) do -%>

  <p>
    <%= label_tag 'Nome' %><br />
    <%= text_field_tag 'person[name]' %>
  </p>

  <p>
    <%= label_tag 'Cidade' %><br />
    <%= text_field_tag 'person[city]' %>
  </p>

  <p>
    <%= label_tag 'País' %><br />
    <%= text_field_tag 'person[country]' %>
  </p>

  <p>
    <%= label_tag 'Nome de Livro que Participou' %><br />
    <%= text_field_tag 'person[book]' %>
  </p>

  <p>
    <%= submit_tag 'Search!' %>
  </p>
<% end -%>
