<p id="notice"><%= notice %></p>

<p>
  <b>Person:</b>
  <%= @authorship.person_id %>
</p>

<p>
  <b>Book:</b>
  <%= @authorship.book_id %>
</p>

<p>
  <b>Role:</b>
  <%= @authorship.role %>
</p>


<%= link_to 'Edit', edit_authorship_path(@authorship) %> |
<%= link_to 'Back', authorships_path %>
