<%= form_for(@additional_info) do |f| %>
  <% if @additional_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@additional_info.errors.count, "error") %> prohibited this additional_info from being saved:</h2>

      <ul>
      <% @additional_info.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :book_id %><br />
    <%= f.number_field :book_id %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :picture_url %><br />
    <%= f.text_field :picture_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
