<p id="notice"><%= notice %></p>

<p>
  <b>Isbn:</b>
  <%= @book.ISBN %>
</p>

<p>
  <b>Titulo:</b>
  <%= @book.titulo %>
</p>

<p>
  <b>Autor(es):</b>
  <% @book.authors.each do |author| %>
    <%= link_to author.name, person_path(author) %><br />
  <% end %>
</p>

<p>
  <b>Gênero:</b>
  <%= @book.genre.name %>
</p>

<p>
  <b>Preço:</b>
  $<%= @book.price %>
</p>

<p>
  <b>Versão em e-book?</b>
  <%= @book.has_ebook ? "Sim" : "Não" %>
</p>

<p>
  <b>Capa:</b>
  <%= image_tag @book.cover_url %>
</p>


<%= link_to 'Back', root_path %>
