<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>IsbnDB</title>
  <%= stylesheet_link_tag "site" %>
  <%= csrf_meta_tags %>
</head>

<body class="body">

<table align="center" border="0" cellpadding="0" cellspacing="0" width="880px">

  <tr>
    <td class="top" width="880px" height="155px">
		  <table align="center" border="0" cellpadding="0" cellspacing="0" width="880px">
		    <tr>
			    <td width="380px" height="155px">
			    </td>
			    <td width="500px" height="155px">
			    </td>
		    </tr>
		  </table>
	  </td>
  </tr>

  <tr>
	  <td class="barra" width="880px" height="60px">

		  <table align="center" border="0" cellpadding="0" cellspacing="0" width="880px">
		    <tr>
			    <td width="40px"></td>
			    <td class="menu" width="200px""><%= link_to "Início", root_path, :class => 'menutext'%></td>
			    <td class="menu" width="200px"><%= link_to "Busca por Livros", search_books_path, :class => 'menutext'%></td>
			    <td class="menu" width="200px"><%= link_to "Busca por Autores", search_people_path, :class => 'menutext'%></td>
			    <td class="menu" width="200px">linkaki</td>
			    <td width="40px"></td>
		    </tr>
		  </table>

	  </td>
  </tr>

  <tr>
	  <td width="880px">

		  <table align="center" border="0" cellpadding="0" cellspacing="0" width="880px">
		    <tr height="10px">
			    <td width="10px" height="10px"><%= image_tag "c1.png" %></td>
			    <td class="branco" width="860px"></td>
			    <td width="10px" height="10px"><%= image_tag "c2.png" %></td>
		    </tr>

  <tr>
    <td class="branco" width="10px"></td>
    <td class="branco">
      <div class="conteudo">
        <%= yield %>
      </div>
    </td>
    <td class="branco" width="10px"></td>
  </tr>

		    <tr height="10px">
			    <td width="10px" height="10px"><%= image_tag "c3.png" %></td>
			    <td class="branco" width="10px"></td>
			    <td width="10px" height="10px"><%= image_tag "c4.png" %></td>
		    </tr>
		  </table>

	  </td>
  </tr>

</table>


</body>

